body {
  padding: 20px 20px 0 20px;
  width: 400px;
  background-color: #FFFAF0;
}
header {
  text-align: center;
}

/* 其他部分的样式 */
.title {
  font-weight: bold;
  margin-bottom: 0px;
}
.first_hr {
  margin-top: 0px;
  margin-bottom: 15px;
}
.emphasized_font {
  color: red;
  font-weight: bold;
}

/* 考勤名单对比 */
.div_whole {
  display: inline-block; 
  height: 0;
  overflow: hidden;
}
.div_of_list {
  width: 150px;
}
.p_of_list {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 13px; 
}
.textarea_of_list {
  width: 140px;
  resize: none;
  margin-left: 5px;
}
.notify {
  display: inline-block;
  margin: 5px 0 10px 15px;
  
  font-size: 13px;
  color: gray; 
}