body {
  width: 400px;
  height: 400px;
  padding: 20px;

  background-color: #FFFAF0;
}
header {
  text-align: center;
}
.title {
  font-weight: bold;
}
.emphasized_font {
  color: red;
  font-weight: bold;
}
.div_of_list {
  flex: 1;
  margin: 5px 5px;
}
.p_of_list {
  margin-bottom: 5px;
  margin-left: 17px;
  font-size: 13px; 
}
.textarea_of_list {
  width: 150px;
  height: 125px;
  resize: none;
}
.notify {
  font-size: 13px;
  color: gray; 
}