body {
  width: 400px;
  padding: 20px;
  background-color: #FFFAF0;
}
header {
  text-align: center;
}
.title {
  font-weight: bold;
}
.emphasized_font {
  color: red;
  font-weight: bold;
}
.div_of_list {
  flex: 1;
  margin: 5px 5px;
}
.p_of_list {
  margin-bottom: 5px;
  margin-left: 25px;
  font-size: 13px; 
}
.textarea_of_list {
  width: 150px;
  /* 这里的height不知道为什么无法起效 */
  /* height: 300px; */
  resize: none;
  margin-left: 5px;
  margin-right: 15px;
}
.notify {
  margin-bottom: 0;
  font-size: 13px;
  color: gray; 
}